textarea{
   resize: none;
}

body{
   background-color: #C8CEFE;
}

.content-block{
   margin: 30px auto 0;
   max-width: min-content;
   background-color: #fff;
   border-radius: 56px;
   padding: 40px;
}

.field, .fieldTextarea{
   margin: 15px 0;
}
